@model MVCCallWebAPI.ViewModels.ProfileViewModel

<h3>Thông Tin Cá Nhân</h3>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form method="post">

    <div class="mb-3">
        <label>Họ và tên</label>

        <input asp-for="FullName"
               class="form-control" />
    </div>

    <div class="mb-3">
        <label>Email</label>

        <input asp-for="Email"
               class="form-control"
               readonly />
    </div>

    <div class="mb-3">
        <label>Số điện thoại</label>

        <input asp-for="PhoneNumber"
               class="form-control" />
    </div>

    <button type="submit"
            class="btn btn-primary">
        Lưu thay đổi
    </button>

</form>