<div class="container mt-5">

    @if (TempData["Success"] != null)
    {
        <div class="alert alert-success">
            @TempData["Success"]
        </div>
    }

    <h2>
        Orders Page
    </h2>

</div>